/build*
/out
/bin
/ref
/external_old
/.vs
/.vscode
/CMakeSettings.json
CMakeUserPresets.json
*.user
stderr.log
/.pi
/.pi-lens
AGENTS.md
/scripts.idea/ 
cmake-build-debug/ 

# Safe open-source ignores
resource/
img/
.idea/
cmake-build-*/
